services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: book_store
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"

  web:
    build: .
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
    environment:
      POETRY_VIRTUALENVS_IN_PROJECT: "false"
      POETRY_VIRTUALENVS_PATH: "/opt/venvs"

volumes:
  postgres_data: